@media (max-width: 1599.98px) {
  .bread-crumb .overlay .text {
    padding: 50px 0;
  }
  .bread-crumb .overlay .text h3 {
    font-size: 50px;
  }
}
@media (max-width: 1399.98px) {
  .about,
  .event-part,
  .products,
  .news,
  .contact-page .contact-form,
  .contact-map {
    padding-top: 70px;
  }
  .title-snd h3 {
    font-size: 26px;
  }
  p {
    font-size: 15px;
  }
  .content-page,
  .contact-page,
  .member-list,
  .news-list,
  .event-list,
  .partner-list,
  .album,
  .photo,
  .gallery {
    padding: 60px 0;
  }
  .bread-crumb .overlay .text {
    padding: 42px 0;
  }
  .bread-crumb .overlay .text h3 {
    font-size: 45px;
  }
  header .header-info {
    padding-left: 55px;
  }
  .top-header .info-link a {
    font-size: 15px;
  }
  header {
    padding: 0;
  }
  header .header-info .single-header-contact-info .text-block p {
    font-size: 14px;
  }
  nav ul li a {
    font-size: 13px !important;
    padding: 9px 12px !important;
  }
  .navbar-nav .search .big-search {
    width: 63px;
    height: 62px;
    line-height: 62px;
  }
  nav ul li ul {
    width: 230px;
  }
  .get-quote {
    padding: 6px 20px;
    font-size: 13px;
  }
  .banner .banner-slider {
    height: calc(100vh - 194px);
  }
  .banner .banner-slider .text h2 {
    font-size: 44px;
  }
  .products-item .image {
    height: 184px;
  }
  .products-item .home_image {
    height: 247px;
  }
  .product-item .text h4 {
    font-size: 18px;
  }
  .about .about-image {
    height: 353px;
  }
  .about .about-bg .about-info {
    max-width: 556px;
    padding-left: 20px;
  }
  .about .about-bg .about-video .btn-option h4 {
    font-size: 16px;
  }
  .about .about-bg .about-video .btn-option {
    text-align: left;
    padding: 13px 0 14px 60px;
  }
  .about .about-bg .about-video .btn-option i {
    font-size: 22px;
    top: 11px;
  }
  .about .about-bg .about-video .tab-menu {
    width: 210px;
  }
  .about .about-bg .about-info ul li h4 {
    font-size: 26px;
  }
  .contact-map .map-container .contact-form {
    width: 500px;
  }
  .contact-map .map-container .contact-form button {
    padding: 10px 20px;
  }
  .news-item .image {
    height: 237px;
  }
  .content-page .content-main h1 {
    font-size: 30px;
  }
  .content-page .content-main blockquote h4 {
    font-size: 22px;
  }
  .member-list .member-item .image {
    height: 254px;
  }
  .member-list .member-item .text {
    padding: 20px;
  }
  .news-list .news-items .news-image {
    height: 236px;
  }
  .news-list .news-items .news-text .info {
    padding: 25px;
    height: 277px;
  }
  .news-list .news-items .news-text .info .title {
    font-size: 22px;
  }
  .products-item .text p {
    margin: 10px 0 20px 0;
    padding-bottom: 10px;
  }
  .gshop-sidebar {
    width: 261px;
  }
  .event-part .event-box .event-item .image {
    height: 196px;
  }
  .event-part .event-box .event-item .text {
    padding: 20px;
  }
  .partner-list .partner-item .image {
    height: 89px;
    padding: 0 16px;
  }
  .partner-list .partner-item {
    padding-top: 16px;
  }
  .partner-list .partner-item .text {
    padding: 16px;
  }
  .partner-list .partner-item .text .title {
    font-size: 18px;
  }
  .event-details-page .img,
  .news-details-page .news-left .image {
    height: 491px;
  }
  .news-right .info-block .small-news-item .recent-news .image {
    height: 58px;
  }
  .product-summery .products-item .product-img {
    height: 208px;
  }
  .user-deshboard .event-part .event-box .event-item .image {
    height: 215px;
  }
  footer .footer-bg .links {
    margin-left: 1rem;
  }
  footer .footer-bg .links ul li a {
    font-size: 15px;
  }
  footer .footer-bg {
    padding: 60px 0 0px 0;
  }
  footer .footer-bg .footer-title {
    font-size: 20px;
  }
  footer .footer-bg .footer-btm a {
    font-size: 15px;
  }
}
@media (max-width: 1199.98px) {
  .about,
  .event-part,
  .products,
  .news,
  .contact-page .contact-form,
  .contact-map {
    padding-top: 60px;
  }
  .read-more {
    padding: 5px 10px;
  }
  .content-page,
  .contact-page,
  .member-list,
  .news-list,
  .event-list,
  .partner-list,
  .album,
  .photo,
  .gallery {
    padding: 50px 0;
  }
  .bread-crumb .overlay .text {
    padding: 30px 0;
  }
  .bread-crumb .overlay .text h3 {
    font-size: 42px;
  }
  .banner .banner-slider {
    height: 440px;
  }
  .about .about-image {
    height: 295px;
  }
  .about .about-info {
    padding: 20px 0;
    padding-left: 20px;
  }
  .event-part .event-box .event-item .image {
    width: 275px;
    height: 180px;
  }
  .event-part .event-box .event-item .text {
    padding: 10px 20px;
  }
  .news-item .image {
    height: 197px;
  }
  .products-item .home_image {
    height: 205px;
  }
  .contact-map .map-container .contact-form {
    width: 400px;
  }
  .contact-map .map-container .contact-form .title-snd {
    padding-bottom: 25px;
  }
  .contact-map .map-container .contact-form .form-textarea {
    height: 95px;
  }
  .contact-map .map-container .contact-form {
    padding: 22px;
  }
  .content-page .content-main h1 {
    font-size: 28px;
  }
  .content-page .content-main blockquote h4 {
    font-size: 20px;
  }
  .content-page .content-main blockquote {
    padding: 20px 20px 20px 40px;
  }
  .content-page .content-main table {
    margin-left: 0;
  }
  .content-page .content-main table th,
  .content-page .content-main table td {
    padding-bottom: 20px;
  }
  .member-list .member-item .image {
    height: 286px;
  }
  .member-list .search-top .title h2 {
    font-size: 24px;
  }
  .news-list .news-items .news-image {
    height: 196px;
  }
  .news-list .news-items .news-text .info .title {
    font-size: 20px;
  }
  .news-list .news-items .news-text .info {
    padding: 22px;
    height: 259px;
  }
  .gshop-sidebar {
    width: 306px;
  }
  .event-part .event-box .event-item .image {
    height: 163px;
  }
  .event-part .event-box .event-item .text .title {
    font-size: 18px;
  }
  .partner-list .partner-item .image {
    height: 123px;
  }
  .contact-page .contact-box .contact-box-icon i {
    font-size: 35px;
    border-radius: 100%;
    width: 70px;
    height: 70px;
    line-height: 70px;
  }
  .contact-page .contact-box .contact-box-content .contact-box-title {
    font-size: 26px;
  }
  .contact-page .contact-form .image {
    height: 515px;
  }
  .event-details-page .img,
  .news-details-page .news-left .image {
    height: 411px;
  }
  .news-right .info-block .small-news-item .recent-news .image {
    height: 46px;
  }
  .product-summery .products-item .product-img {
    height: 165px;
  }
  .user-deshboard .account-info .profile-inf-right .achievement-box {
    min-height: 95px;
  }
  .profile-achievements .achievement-box {
    width: 48%;
  }
  header.member-header {
    background-color: #1D272F;
    height: 60px;
  }
  .user-deshboard .event-part .event-box .event-item .image {
    height: 181px;
  }
}
@media (max-width: 991.98px) {
  .about,
  .event-part,
  .products,
  .news,
  .contact-map,
  .contact-page .contact-form,
  footer .footer-bg {
    padding-top: 50px;
  }
  .title-snd {
    padding-bottom: 35px;
  }
  .content-page,
  .contact-page,
  .member-list,
  .news-list,
  .event-list,
  .partner-list,
  .album,
  .photo,
  .gallery {
    padding: 40px 0;
  }
  .bread-crumb {
    background-position: left !important;
  }
  .bread-crumb .overlay .text h3 {
    font-size: 40px;
  }
  .banner .banner-slider {
    height: 340px;
  }
  .about .about-image {
    height: 450px;
  }
  .about .about-info {
    padding-left: 0;
  }
  .products .product-bg {
    padding: 50px 0;
  }
  .products-item .image {
    height: 209px;
  }
  .news-item .image {
    height: 224px;
  }
  .news-item .text .title {
    font-size: 20px;
    margin-top: 16px;
    margin-bottom: 10px;
  }
  .news-item .image .date span {
    font-size: 15px;
    width: 60px;
    height: 60px;
    padding: 13px;
    line-height: 15px;
  }
  .content-page .content-main h1 {
    font-size: 26px;
  }
  .content-page .content-main {
    padding: 30px;
  }
  .member-list .member-item .image {
    height: 318px;
  }
  .member-list .search-top .title h2 {
    font-size: 22px;
  }
  .news-list .news-items .news-image {
    height: 223px;
  }
  .event-part .event-box .event-item .image {
    height: 183px;
  }
  .partner-list .partner-item .image {
    height: 83px;
  }
  .prd-info-container .checkout-col {
    width: 100% !important;
  }
  .event-details-page .img,
  .news-details-page .news-left .image {
    height: 464px;
  }
  .news-right .info-block .small-news-item .recent-news .image {
    height: 129px;
  }
  .product-summery .products-item .product-img {
    height: 162px;
  }
  .user-deshboard .account-info .profile-inf-right .profile-achievements {
    margin-left: 0;
  }
  .user-deshboard .about-sec.border-right {
    width: 100% !important;
  }
  .address-book-content .address {
    width: 100% !important;
  }
  footer .footer-bg .links {
    margin-left: 0;
  }
}
@media (max-width: 767.98px) {
  .about,
  .event-part,
  .products,
  .news,
  .contact-page .contact-form,
  .contact-map,
  footer .footer-bg {
    padding-top: 40px;
  }
  .title-snd h3 {
    font-size: 24px;
  }
  .title-snd {
    padding-bottom: 25px;
  }
  .common-btn a {
    font-size: 14px;
    padding: 6px 20px;
  }
  .content-page,
  .contact-page,
  .member-list,
  .news-list,
  .event-list,
  .partner-list,
  .album,
  .photo,
  .gallery {
    padding: 30px 0;
  }
  .bread-crumb .overlay .text {
    padding-left: 50px;
  }
  .bread-crumb .overlay .text h3 {
    font-size: 35px;
  }
  .banner .icon {
    top: 85%;
  }
  .about .about-image {
    height: 334px;
  }
  .event-part .event-box .event-item .text {
    padding: 8px 20px;
  }
  .event-part .event-box .event-item .text span {
    margin: 10px 0 16px 0;
  }
  .event-part .event-box .event-item .text .title {
    font-size: 18px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1 !important;
    -webkit-box-orient: vertical;
  }
  .products .product-bg {
    padding: 40px 0;
  }
  .products-item .home_image {
    height: 233px;
  }
  .news-item .image {
    height: 344px;
  }
  .event-details-page .img,
  .news-details-page .news-left .image {
    height: 344px;
  }
  .news-right .info-block .small-news-item .recent-news .image {
    height: 91px;
  }
  .content-page .content-main h1 {
    font-size: 24px;
  }
  .content-page .content-main blockquote h4 {
    font-size: 18px;
  }
  .content-page .content-main blockquote {
    padding: 20px;
  }
  .content-page .content-main table tr th {
    min-width: 110px;
  }
  .member-list .member-item .image {
    height: 226px;
  }
  .member-list .member-item .text {
    padding: 16px;
  }
  .member-list .member-item .text a {
    font-size: 18px;
  }
  .member-list .search-top .title h2 {
    font-size: 20px;
  }
  .news-list .news-items .news-image {
    height: 163px;
  }
  .news-list .news-items .news-text .info .title {
    font-size: 18px;
  }
  .news-list .news-items .news-text .info {
    padding: 20px;
    height: 250px;
  }
  .main-filtering-option .filter {
    width: 130px;
  }
  .event-part .event-box .event-item .image {
    width: 40%;
    height: 137px;
  }
  .gallery-item .image {
    height: 180px;
  }
  .products-item .image {
    height: 237px;
  }
  .product-summery .products-item .product-img {
    height: 182px;
  }
  .user-deshboard .account-info .profile-inf-right .achievement-box {
    padding: 5px 10px;
  }
  .user-deshboard .event-part .event-box .event-item .image {
    height: 131px;
  }
  footer .footer-bg .footer-title {
    font-size: 18px;
  }
  footer .footer-bg .footer-btm {
    margin-top: 25px;
  }
  footer .footer-bg .footer-btm p {
    text-align: center;
  }
}
@media (max-width: 575.98px) {
  .about,
  .event-part,
  .products,
  .news,
  .contact-map {
    padding-top: 30px;
  }
  .title-snd h3 {
    font-size: 22px;
  }
  .title-snd h5 {
    font-size: 16px;
  }
  .bread-crumb {
    background-position: center !important;
  }
  .bread-crumb .overlay .text {
    padding-left: 0;
  }
  .bread-crumb .overlay .text h3 {
    font-size: 30px;
  }
  .top-header .social a {
    font-size: 15px;
    margin-right: 15px;
  }
  .about .about-image {
    height: auto;
  }
  .event-part .event-box .event-item .image {
    width: 100%;
    height: auto;
  }
  .event-part .event-box .event-item .text {
    width: 100%;
  }
  .event-part .event-box .event-item .text {
    padding: 24px;
  }
  .products .product-bg {
    padding: 30px 0;
  }
  .products-item .image,
  .products-item .home_image {
    height: auto;
  }
  .news-item .image {
    height: auto;
  }
  .contact-map .map-container .contact-form {
    width: 350px;
  }
  .member-list .member-item .image {
    height: auto;
  }
  .member-list .search-top .title h2 {
    font-size: 18px;
  }
  .news-list .news-items .news-image {
    height: auto;
  }
  .gallery-item .image {
    height: 300px;
  }
  .partner-list .partner-item .image {
    height: auto;
  }
  .event-details-page .img,
  .news-details-page .news-left .image {
    height: auto;
  }
  .news-right .info-block .small-news-item .recent-news .image {
    height: auto;
  }
  .product-summery .products-item .product-img {
    height: auto;
  }
  .user-deshboard .tab-content .achievement-box span img {
    width: 50px;
    height: 50px;
  }
  .user-deshboard .event-part .event-box .event-item .image {
    height: auto;
  }
  .content-page .content-main {
    padding: 20px;
  }
  .contact-page .contact-box .contact-box-content .contact-box-title {
    font-size: 24px;
  }
}

/*# sourceMappingURL=responsive.css.map */
