@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&family=Poppins:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
}

a {
  display: inline-block;
  text-decoration: none;
}

span {
  display: inline-block;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

body {
  overflow-x: hidden;
  font-size: 16px;
  font-weight: 400;
  color: #1D272F;
  font-family: "Poppins", sans-serif;
}

.common-btn a {
  background-color: #FFC107;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  padding: 14px 30px;
  color: #ffffff;
  transition: all linear 0.2s;
  border: 2px solid transparent;
}
.common-btn a:hover {
  background-color: #1D272F;
  border-color: #FFC107;
}

.read-more {
  font-size: 15px;
  font-weight: 500;
  background-color: #FFC107;
  padding: 5px 15px;
  color: #ffffff;
  position: relative;
  z-index: 1;
}
.read-more::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 0%;
  background-color: #1D272F;
  content: "";
  z-index: -9;
  transition: all linear 0.2s;
}
.read-more:hover {
  color: #ffffff;
}
.read-more:hover::before {
  width: 100%;
  height: 100%;
}

.rm-lg {
  padding: 10px 24px;
}

.common-title h5 {
  font-size: 16px;
  font-weight: 400;
  padding-bottom: 8px;
}
.common-title h3 {
  font-size: 28px;
  font-weight: 600;
  text-transform: uppercase;
}

.title-snd {
  padding-left: 24px;
  padding-bottom: 43px;
  position: relative;
}
.title-snd::before {
  width: 3px;
  height: 53px;
  background-color: #1D272F;
  position: absolute;
  left: 0;
  top: 5px;
  content: "";
}
.title-snd h5 {
  font-size: 18px;
  font-weight: 400;
  padding-bottom: 8px;
}
.title-snd h3 {
  font-size: 28px;
  font-weight: 700;
  text-transform: uppercase;
}

.top-header {
  background-color: #1D272F;
}
.top-header .social a {
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  margin-right: 20px;
  line-height: 40px;
  transition: all linear 0.2s;
}
.top-header .social a:hover {
  color: #FFC107;
}
.top-header .info-link a {
  color: #ffffff;
  margin-left: 20px;
  line-height: 40px;
  transition: all linear 0.2s;
}
.top-header .info-link a:hover {
  color: #FFC107;
}

header {
  width: 100%;
  padding: 4px 0;
}
header .header-main {
  width: 100%;
}
header .header-main .logo a {
  padding: 12px 0;
  position: relative;
}
header .header-info {
  padding-left: 180px;
  display: flex;
  padding-top: 13px;
  padding-bottom: 11px;
}
header .header-info .single-header-contact-info {
  vertical-align: middle;
  position: relative;
  width: 35%;
}
header .header-info .single-header-contact-info .icon-block {
  display: table-cell;
}
header .header-info .single-header-contact-info .icon-block i {
  color: #FFC107;
  font-size: 26px;
  position: relative;
  top: 10px;
}
header .header-info .single-header-contact-info .text-block {
  display: table-cell;
  padding-left: 20px;
}
header .header-info .single-header-contact-info .text-block p {
  font-size: 15px;
  font-weight: 400;
  color: #5a5a5a;
}
header .header-info .single-header-contact-info .text-block p span {
  font-weight: 600;
  color: #1D272F;
  text-transform: uppercase;
}
header .header-info .single-header-contact-info .social a {
  width: 40px;
  height: 40px;
  background-color: #ffffff;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  color: #1D272F;
  font-size: 14px;
  box-shadow: 0px 3px 4px #d3d3d3;
  transition: all linear 0.2s;
  margin-left: 12px;
}
header .header-info .single-header-contact-info .social a:hover {
  background-color: #FFC107;
  color: #ffffff;
}
header .header-info .single-header-contact-info:nth-child(1) {
  width: 50%;
  margin-right: 40px;
}
header .header-info .single-header-contact-info:last-child {
  width: 24%;
}

.navbar {
  padding: 0 !important;
}

nav {
  background-color: #1D272F;
  border-bottom: 1px solid #fff;
}
nav ul li {
  position: relative;
}
nav ul li a {
  font-size: 14px !important;
  font-weight: 600 !important;
  color: #ffffff !important;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  padding: 13px 12px !important;
  line-height: 45px !important;
  transition: all linear 0.3s;
  position: relative;
  cursor: pointer;
}
nav ul li a i {
  position: relative;
  top: -3px;
}
nav ul li a::before {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 1px;
  height: 16px;
  background-color: #FFC107;
  transition: all linear 0.3s;
  content: "";
  opacity: 0;
}
nav ul li a.active {
  color: #FFC107 !important;
}
nav ul li a.active::before {
  opacity: 1;
}
nav ul li:hover > a {
  color: #FFC107 !important;
}
nav ul li:hover > a::before {
  opacity: 1;
}
nav ul li ul {
  width: 270px;
  background-color: #ffffff;
  position: absolute;
  left: 0;
  top: 100%;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease 0s;
  margin-top: 30px;
  box-shadow: 0px 4px 3px rgba(0, 44, 66, 0.2);
}
nav ul li ul li a {
  color: #1D272F !important;
  display: block;
  width: 100%;
  padding: 0px 16px !important;
  line-height: 46px !important;
  text-transform: capitalize;
}
nav ul li ul li a::before, nav ul li ul li a::after {
  display: none;
}
nav ul li ul li:hover a {
  background-color: #FFC107;
  color: #ffffff !important;
}
nav ul li:hover > ul {
  opacity: 1;
  visibility: visible;
  margin-top: 0;
}

.get-quote {
  background-color: #FFC107;
  color: #ffffff;
  padding: 10px 32px;
  font-size: 14px;
  font-weight: 600;
  transition: all linear 0.2s;
  line-height: 47px;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  border: 2px solid transparent;
}
.get-quote:hover {
  background-color: #1D272F;
  color: #ffffff;
  border-color: #FFC107;
}

.navbar-nav {
  background-color: #1D272F;
  width: 84%;
}
.navbar-nav .search {
  top: 50%;
  right: -22px;
  transform: translateY(-50%);
}
.navbar-nav .search .big-search {
  color: #ffffff;
  width: 70px;
  height: 70px;
  background-color: #004161;
  text-align: center;
  line-height: 70px;
  cursor: pointer;
}
.navbar-nav .search .search-box {
  position: absolute;
  bottom: -90px;
  right: 0;
  width: 280px;
  height: 60px;
  transition: all linear 0.2s;
  opacity: 0;
  visibility: hidden;
}
.navbar-nav .search .search-box input {
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  border: 4px solid #FFC107;
  padding: 0 60px 0 20px;
}
.navbar-nav .search .search-box button {
  position: absolute;
  top: 50%;
  right: 4px;
  transform: translateY(-50%);
  background-color: #1D272F;
  color: #ffffff;
  width: 52px;
  height: 52px;
  text-align: center;
  line-height: 50px;
  border: none;
}
.navbar-nav .search:hover .search-box {
  bottom: -60px;
  opacity: 1;
  visibility: visible;
}

#navbarSupportedContent {
  display: flex !important;
  flex-basis: auto;
  z-index: 999;
}

.sticky-top {
  top: -100px;
  transition: 0.5s;
  z-index: 9999 !important;
}

.shadow-lg {
  background-color: #1D272F;
}
.shadow-lg #navbarSupportedContent {
  margin-bottom: 0 !important;
}

.bread-crumb,
.shop-bread-crumb {
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-position: center !important;
}
.bread-crumb .overlay .text,
.shop-bread-crumb .overlay .text {
  padding: 75px 0;
  background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3), rgba(255, 255, 255, 0));
}
.bread-crumb .overlay .text h3,
.shop-bread-crumb .overlay .text h3 {
  font-size: 56px;
  font-weight: 700;
  color: #ffffff;
  margin-bottom: 10px;
}
.bread-crumb .overlay .text ul li,
.shop-bread-crumb .overlay .text ul li {
  display: inline-block;
  color: #FFC107;
  font-weight: 500;
  position: relative;
  padding: 0 20px;
}
.bread-crumb .overlay .text ul li a,
.shop-bread-crumb .overlay .text ul li a {
  color: #ffffff;
}
.bread-crumb .overlay .text ul li a i,
.shop-bread-crumb .overlay .text ul li a i {
  padding-right: 4px;
}
.bread-crumb .overlay .text ul li::before,
.shop-bread-crumb .overlay .text ul li::before {
  position: absolute;
  top: 3px;
  right: -8px;
  font-family: "Font Awesome 5 Free";
  font-weight: 700;
  content: "\f054";
  font-size: 12px;
  color: #ffffff;
}
.bread-crumb .overlay .text ul li:last-child::before,
.shop-bread-crumb .overlay .text ul li:last-child::before {
  display: none;
}

.shop-bread-crumb {
  padding-bottom: 8px;
}
.shop-bread-crumb ul li {
  display: inline-block;
  color: #FFC107;
  font-weight: 500;
  position: relative;
  padding: 0 20px;
}
.shop-bread-crumb ul li a {
  color: #1D272F;
}
.shop-bread-crumb ul li::before {
  position: absolute;
  top: 3px;
  right: -8px;
  font-family: "Font Awesome 5 Free";
  font-weight: 700;
  content: "\f054";
  font-size: 12px;
  color: #1D272F;
}
.shop-bread-crumb ul li:last-child::before {
  display: none;
}

.banner .banner-slider {
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-position: center center !important;
  padding: 20px 0;
  min-height: 708px;
}
.banner .banner-slider .text h2 {
  font-size: 52px;
  font-weight: 700;
  text-transform: uppercase;
  color: #FFC107;
  margin-bottom: 10px;
}
.banner .banner-slider .text p {
  color: #ffffff;
  font-size: 22px;
  font-weight: 400;
  margin-bottom: 40px;
}
.banner .icon {
  width: 40px;
  height: 40px;
  background-color: #1D272F;
  text-align: center;
  line-height: 40px;
  color: #ffffff;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 18px;
  opacity: 0;
  transition: all linear 0.2s;
}
.banner .icon:hover {
  background-color: #FFC107;
  color: #ffffff;
}
.banner .left {
  left: 30px;
  z-index: 9;
}
.banner .right {
  right: 30px;
}
.banner:hover .icon {
  opacity: 1;
}

.members {
  background-color: #27313A;
  padding: 60px 0;
  position: relative;
}
.members::before {
  position: absolute;
  top: 0;
  right: 0;
  width: 30%;
  height: 100%;
  background-color: #FFC107;
  content: "";
  clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 0% 100%);
}
.members .member-box {
  width: 1000px;
}
.members .member-item img {
  filter: brightness(0) invert(1);
  width: 70px;
}
.members .member-item h4 {
  font-size: 42px;
  font-weight: 700;
  color: #FFC107;
  margin: 14px 0 10px 0;
}
.members .member-item p {
  font-size: 18px;
  font-weight: 500;
  color: #ffffff;
}

.products {
  padding-top: 80px;
}
.products .product-bg {
  background-color: #f7f7f7;
  padding: 60px 0;
}

.products-item {
  background-color: #ffffff;
  margin: 0 12px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: all linear 0.2s;
}
.products-item .image {
  height: 180px;
  padding: 14px;
}
.products-item .image img {
  height: 100%;
  object-fit: contain;
  object-position: center;
}
.products-item .text {
  padding: 14px;
}
.products-item .text .title {
  font-size: 20px;
  font-weight: 600;
  text-transform: capitalize;
  color: #1D272F;
  transition: all linear 0.2s;
}
.products-item .text .title:hover {
  color: #FFC107;
}
.products-item .text p {
  font-size: 16px;
  font-weight: 500;
  margin: 10px 0 30px 0;
  position: relative;
  padding-bottom: 24px;
}
.products-item .text p::after {
  width: 100%;
  height: 1px;
  background-color: #ddd;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  content: "";
}
.products-item .text p del {
  color: #FFC107;
  margin-left: 8px;
}
.products-item .text .add-to-cart {
  font-size: 15px;
  font-weight: 500;
  background-color: #FFC107;
  padding: 10px 24px;
  color: #ffffff;
  position: relative;
  z-index: 1;
}
.products-item .text .add-to-cart::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 0%;
  background-color: #1D272F;
  content: "";
  z-index: -9;
  transition: all linear 0.2s;
}
.products-item .text .add-to-cart:hover::before {
  width: 100%;
  height: 100%;
}
.products-item:hover {
  border-color: #FFC107;
}

.about {
  padding-top: 80px;
}
.about .about-image {
  height: 450px;
}
.about .about-image img {
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.about .about-info {
  padding: 40px 0;
  padding-left: 40px;
}
.about .about-info p {
  margin-bottom: 30px;
  text-align: justify;
}
.about .about-info ul li {
  margin-right: 45px;
}
.about .about-info ul li img {
  width: 70px;
  height: 70px;
  background-color: #ffffff;
  box-shadow: 0 3px 4px #d3d3d3;
  border-radius: 50%;
  text-align: center;
  line-height: 70px;
  padding: 14px;
}
.about .about-info ul li h4 {
  font-size: 30px;
  font-weight: 700;
  color: #FFC107;
  margin: 20px 0 10px 0;
}
.about .about-info ul li:last-child {
  margin-right: 0;
}

.event-part {
  padding-top: 80px;
}
.event-part .event-calender .common-title h3::after {
  left: 0;
  transform: translateX(0);
}
.event-part .event-box .event-item {
  background-color: #ebf4fb;
}
.event-part .event-box .event-item .image {
  width: 368px;
  height: 246px;
  margin-right: 24px;
  position: relative;
}
.event-part .event-box .event-item .image::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 193, 7, 0.6);
  content: "";
  transform: scale(0);
  transition: all linear 0.2s;
}
.event-part .event-box .event-item .image img {
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.event-part .event-box .event-item .text {
  padding: 24px;
  padding-top: 40px;
}
.event-part .event-box .event-item .text .title {
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
  color: #1D272F;
  transition: all linear 0.2s;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.event-part .event-box .event-item .text .title:hover {
  color: #FFC107;
}
.event-part .event-box .event-item .text span {
  margin: 14px 0 20px 0;
  font-size: 14px;
  font-weight: 400;
}
.event-part .event-box .event-item .text span i {
  color: #FFC107;
  margin-right: 5px;
}
.event-part .event-box .event-item .text small {
  font-size: 16px;
  font-weight: 400;
}
.event-part .event-box .event-item:hover .image::before {
  transform: scale(1);
}
.event-part .event-box .event-item + .event-item {
  margin-top: 24px;
}

.products {
  padding-top: 80px;
}
.products .product-bg {
  background-color: #f7f7f7;
  padding: 60px 0;
}

.products-item {
  background-color: #ffffff;
  margin: 0 12px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: all linear 0.2s;
}
.products-item .image {
  height: 180px;
  padding: 14px;
}
.products-item .image img {
  height: 100%;
  object-fit: contain;
  object-position: center;
}
.products-item .text {
  padding: 14px;
}
.products-item .text .title {
  font-size: 20px;
  font-weight: 600;
  text-transform: capitalize;
  color: #1D272F;
  transition: all linear 0.2s;
}
.products-item .text .title:hover {
  color: #FFC107;
}
.products-item .text p {
  font-size: 16px;
  font-weight: 500;
  margin: 10px 0 30px 0;
  position: relative;
  padding-bottom: 24px;
}
.products-item .text p::after {
  width: 100%;
  height: 1px;
  background-color: #ddd;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  content: "";
}
.products-item .text p del {
  color: #FFC107;
  margin-left: 8px;
}
.products-item .text .add-to-cart {
  font-size: 15px;
  font-weight: 500;
  background-color: #FFC107;
  padding: 10px 24px;
  color: #ffffff;
  position: relative;
  z-index: 1;
}
.products-item .text .add-to-cart::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 0%;
  background-color: #1D272F;
  content: "";
  z-index: -9;
  transition: all linear 0.2s;
}
.products-item .text .add-to-cart:hover::before {
  width: 100%;
  height: 100%;
}
.products-item:hover {
  border-color: #FFC107;
}

.news {
  padding-top: 80px;
}

.news-item .image {
  height: 282px;
  overflow: hidden;
}
.news-item .image img {
  height: 100%;
  object-fit: cover;
  object-position: center;
  transition: all 0.5s ease 0s;
}
.news-item .image .date {
  bottom: 20px;
  left: 20px;
}
.news-item .image .date span {
  display: inline-block;
  background-color: #FFC107;
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
  width: 70px;
  height: 70px;
  padding: 13px;
  border-radius: 50%;
  line-height: 20px;
  text-align: center;
}
.news-item .text .title {
  font-size: 22px;
  font-weight: 600;
  margin-top: 24px;
  margin-bottom: 14px;
  color: #1D272F;
  transition: all linear 0.2s;
}
.news-item .text .title:hover {
  color: #FFC107;
}
.news-item .text .read-more {
  color: #1D272F;
  font-size: 15px;
  font-weight: 400;
  transition: all linear 0.2s;
  margin-top: 20px;
  text-transform: uppercase;
}
.news-item .text .read-more i {
  padding-left: 5px;
}
.news-item .text .read-more:hover {
  color: #FFC107;
}
.news-item:hover img {
  transform: scale(1.1);
}

.contact-map {
  padding-top: 80px;
}
.contact-map .map-container .map {
  width: 100%;
  height: 600px;
}
.contact-map .map-container .map iframe {
  width: 100% !important;
  height: 100% !important;
}
.contact-map .map-container .contact-form {
  padding: 30px;
  width: 570px;
  background-color: #ffffff;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.contact-map .map-container .contact-form .form-control {
  height: 50px;
  border-radius: 0;
}
.contact-map .map-container .contact-form .form-select {
  height: 50px;
  border-radius: 0;
}
.contact-map .map-container .contact-form .form-textarea {
  height: 120px;
  resize: none;
}
.contact-map .map-container .contact-form button {
  background-color: #FFC107;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  padding: 14px 30px;
  color: #ffffff;
  transition: all linear 0.2s;
  border: 2px solid transparent;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}
.contact-map .map-container .contact-form button:hover {
  background-color: #1D272F;
  border-color: #FFC107;
}

.pagination ul li {
  display: inline-block;
  box-shadow: 0 0px 25px rgba(0, 0, 0, 0.1);
}

.pagination ul li.arrow {
  width: 40px;
  height: 40px;
  background-color: #ffffff;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  margin: 0 6px;
}

.pagination ul li.arrow a {
  color: #000000;
  line-height: 40px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-weight: 500;
  transition: all linear 0.2s;
}

.pagination ul li.arrow a i {
  font-size: 14px;
}

.pagination ul li.arrow a:hover {
  background-color: #FFC107;
  color: #1D272F;
}

.pagination ul li.arrow:last-child {
  margin-right: 0;
}

.pagination ul li.mid-pagi {
  padding: 0 20px;
  background-color: #fff;
  height: 40px;
  line-height: 40px;
  border-radius: 50px;
}

.pagination ul li.mid-pagi a {
  margin: 0 10px;
  color: #232323;
}

.pagination ul li.mid-pagi a.active {
  width: 25px;
  height: 25px;
  background-color: #FFC107;
  border-radius: 50%;
  text-align: center;
  line-height: 25px;
  display: inline-block;
  color: #1D272F;
  box-shadow: 0 0px 10px rgba(0, 0, 0, 0.3);
}

footer .footer-bg {
  background-color: #1D272F;
  padding: 80px 0 0px 0;
}
footer .footer-bg .footer-about img {
  width: 140px;
}
footer .footer-bg .footer-about p {
  color: #ffffff;
  margin: 20px 0;
}
footer .footer-bg .footer-about a {
  color: #ffffff;
  margin-right: 24px;
  transition: all linear 0.2s;
}
footer .footer-bg .footer-about a:hover {
  color: #FFC107;
}
footer .footer-bg .footer-title {
  color: #ffffff;
  font-size: 22px;
  font-weight: 700;
  padding-bottom: 54px;
  position: relative;
  text-transform: uppercase;
}
footer .footer-bg .footer-title::before {
  position: absolute;
  bottom: 30px;
  left: 0;
  width: 80px;
  height: 2px;
  background-color: #ffffff;
  content: "";
}
footer .footer-bg .links ul li {
  margin-bottom: 12px;
}
footer .footer-bg .links ul li a {
  color: #ffffff;
  transition: all linear 0.2s;
}
footer .footer-bg .links ul li a:hover {
  color: #FFC107;
}
footer .footer-bg .getin-touch ul li {
  position: relative;
  padding-left: 40px;
  margin-bottom: 14px;
}
footer .footer-bg .getin-touch ul li p {
  color: #9e9e9e;
  font-size: 14px;
}
footer .footer-bg .getin-touch ul li p span {
  font-weight: 600;
  color: #ffffff;
  padding-right: 10px;
  display: block;
  font-size: 16px;
}
footer .footer-bg .getin-touch ul li i {
  position: absolute;
  color: #FFC107;
  left: 0;
  font-size: 22px;
}
footer .footer-bg .footer-btm {
  padding: 20px 0;
  margin-top: 40px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}
footer .footer-bg .footer-btm p {
  color: #ffffff;
}
footer .footer-bg .footer-btm p span {
  color: #FFC107;
}
footer .footer-bg .footer-btm a {
  color: #FFC107;
  transition: all linear 0.2s;
}

.content-page {
  padding-top: 60px;
  margin-bottom: 60px;
}
.content-page .content-main {
  background-color: #f2f2f2;
  padding: 40px;
}
.content-page .content-main h1 {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 40px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1 !important;
  -webkit-box-orient: vertical;
}
.content-page .content-main p {
  text-align: justify;
  padding-bottom: 10px;
}
.content-page .content-main p:not(:first-child) {
  margin-top: 24px;
}
.content-page .content-main ul li {
  list-style: none;
  margin-left: 40px;
  font-weight: bold;
}
.content-page .content-main ul li::before {
  font-family: "Font Awesome 5 Free";
  content: "\f058";
  color: rgb(9, 255, 0);
  display: inline-block;
  padding-right: 15px;
  vertical-align: middle;
  font-weight: 900;
  font-size: 20px;
}
.content-page .content-main ul li {
  list-style: none;
  margin-left: 40px;
  font-weight: bold;
}
.content-page .content-main ul li::before {
  font-family: "Font Awesome 5 Free";
  content: "\f058";
  color: #FFC107;
  display: inline-block;
  padding-right: 15px;
  vertical-align: middle;
  font-weight: 900;
  font-size: 20px;
}
.content-page .content-main ol li {
  margin-left: 40px;
}
.content-page .content-main ol li::marker {
  font-weight: bold;
}
.content-page .content-main blockquote {
  margin: 30px 0;
  padding: 20px 80px 20px 40px;
  background-color: #ffffff;
  border-bottom: 3px solid #FFC107;
  position: relative;
  display: inline-block;
}
.content-page .content-main blockquote h4 {
  font-size: 24px;
  font-weight: 600;
  color: #666666;
  line-height: 40px;
}
.content-page .content-main blockquote h4::before {
  font-family: "Font Awesome 5 Free";
  content: "\f10d";
  color: #FFC107;
  display: inline-block;
  padding-right: 30px;
  font-size: 30px;
}
.content-page .content-main table {
  margin-left: 40px;
}
.content-page .content-main table tr th {
  min-width: 150px;
  text-align: end;
}
.content-page .content-main table tr td {
  padding-left: 20px;
}
.content-page .content-box .small-image {
  float: left;
  margin-right: 24px;
  margin-bottom: 20px;
}
.content-page .content-box .small-image img {
  border-radius: 10px;
}

.news-list {
  padding: 60px 0;
  background-color: #f2f2f2;
}
.news-list .news-items {
  margin-bottom: 24px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.news-list .news-items .news-image {
  position: relative;
  height: 305px;
  overflow: hidden;
}
.news-list .news-items .news-image a {
  height: 100%;
}
.news-list .news-items .news-image img {
  height: 100%;
  object-fit: cover;
  object-position: center;
  transition: all 0.5s ease 0s;
}
.news-list .news-items .news-text {
  background-color: #ffffff;
}
.news-list .news-items .news-text .info {
  padding: 30px;
  height: 310px;
}
.news-list .news-items .news-text .info .title {
  font-size: 24px;
  font-weight: 600;
  color: #1D272F;
  transition: all linear 0.2s;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.news-list .news-items .news-text .info .title:hover {
  color: #FFC107;
}
.news-list .news-items .news-text .info p {
  margin-top: 15px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.news-list .news-items .news-text .news-footer {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding: 15px 40px;
}
.news-list .news-items .news-text .news-footer a {
  font-size: 15px;
  font-weight: 500;
  color: #1D272F;
  transition: all linear 0.2s;
}
.news-list .news-items .news-text .news-footer a:hover {
  color: #FFC107;
}
.news-list .news-items .news-text .news-footer a + a {
  margin-left: 30px;
}
.news-list .news-items:hover img {
  transform: scale(1.1);
}

.event-list {
  padding-bottom: 80px;
}
.event-list .event-calender {
  position: sticky;
  top: 80px;
  bottom: 0;
}

.shop-list {
  padding: 20px 0 80px;
  background-color: #f2f2f2;
}
.shop-list .products-item {
  margin: 0 0 24px;
}

.partner-list {
  padding: 80px 0;
  background-color: #f2f2f2;
}
.partner-list .partner-item {
  padding-top: 20px;
  border-radius: 10px;
  background-color: #ffffff;
  margin-bottom: 24px;
}
.partner-list .partner-item .image {
  height: 150px;
  width: 150px;
  margin: 0 auto;
  overflow: hidden;
}
.partner-list .partner-item .image img {
  height: 100%;
  border-radius: 20px;
  transition: unset;
  transform: scale(1);
  object-fit: cover;
}
.partner-list .partner-item .text {
  margin-top: 0;
  padding: 20px;
}
.partner-list .partner-item .text .title {
  font-size: 20px;
  font-weight: 600;
  color: #0A0B0F;
  margin: 0px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3 !important;
  -webkit-box-orient: vertical;
}

.album,
.photo {
  padding: 80px 0;
}

.gallery-item {
  background-color: #f2f2f2;
  transition: all linear 0.2s;
  border: 1px solid #ddd;
  margin-bottom: 24px;
}
.gallery-item .image {
  height: 218px;
  overflow: hidden;
  position: relative;
}
.gallery-item .image img {
  height: 100%;
  object-fit: cover;
  transition: all linear 0.2s;
}
.gallery-item .image i {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 45px;
  height: 45px;
  background-color: #ffffff;
  border-radius: 50%;
  text-align: center;
  line-height: 45px;
  color: #e41b2e;
  font-size: 16px;
}
.gallery-item .text {
  padding: 14px;
  min-height: 116px;
}
.gallery-item .text h6 {
  font-size: 20px;
  font-weight: 600;
  color: #414246;
  line-height: 22px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2 !important;
  -webkit-box-orient: vertical;
}
.gallery-item:hover .image img {
  transform: scale(1.1);
}

.contact-page {
  padding-top: 80px;
}
.contact-page .common--subtitle {
  font-size: 24px;
  font-weight: 500;
  border-radius: 70px 0px;
  background-color: #1D272F;
  padding: 10px 40px;
  text-transform: uppercase;
  margin-bottom: 10px;
  color: #ffffff;
}
.contact-page .send-btn {
  font-size: 16px;
  font-weight: 600;
  background-color: #1D272F;
  padding: 10px 40px;
  color: #0A0B0F;
  border-radius: 50px;
  transition: all 0.3s ease 0s;
  margin-top: 30px;
  color: #ffffff;
  border: none;
}
.contact-page .send-btn:hover {
  color: #ffffff;
  background-color: #FFC107;
}
.contact-page .contact--title {
  margin-bottom: 60px;
}
.contact-page .contact-box {
  text-align: center;
  background-color: #f2f2f2;
  padding: 45px 30px;
  border-radius: 10px;
  min-height: 100%;
}
.contact-page .contact-box .contact-box-icon {
  margin-bottom: 15px;
}
.contact-page .contact-box .contact-box-icon i {
  font-size: 40px;
  color: #ffffff;
  background-color: #1D272F;
  display: inline-block;
  text-align: center;
  border-radius: 100%;
  width: 80px;
  height: 80px;
  line-height: 80px;
  transition: all 0.3s ease-in-out;
}
.contact-page .contact-box .contact-box-icon i:hover {
  background-color: #FFC107;
  color: #ffffff;
}
.contact-page .contact-box .contact-box-content .contact-box-title {
  margin-bottom: 5px;
  font-size: 28px;
  font-style: normal;
  line-height: 36px;
  font-weight: 700;
}
.contact-page .contact-form {
  padding: 80px 0;
}
.contact-page .contact-form .image {
  width: 100%;
  height: 600px;
}
.contact-page .contact-form .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}
.contact-page .contact-form .description {
  font-size: 16px;
  font-weight: 400;
  z-index: 9;
  position: relative;
  margin: 10px 0 0 0;
}
.contact-page .contact-form .contact-us-form input,
.contact-page .contact-form .contact-us-form select {
  margin-bottom: 20px;
}
.contact-page .contact-form input,
.contact-page .contact-form input.form-control {
  background: #f2f2f2;
  border: 1px solid #f2f2f2;
  color: #1D272F;
  width: 100%;
  float: none;
  font-size: 16px;
  padding: 0 15px;
  height: 54px;
  line-height: 54px;
  outline: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  border-radius: 10px;
}
.contact-page .contact-form select,
.contact-page .contact-form select.form-control {
  background: #f2f2f2;
  border: 1px solid #f2f2f2;
  color: #1D272F;
  width: 100%;
  padding: 0 30px 0 15px;
  height: 54px;
}
.contact-page .contact-form textarea {
  background: #f2f2f2;
  border: 1px solid #f2f2f2;
  color: #1D272F;
  width: 100%;
  float: none;
  padding: 10px 15px;
  outline: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  border-radius: 10px;
  height: 150px;
}
.contact-page .contact-form input:focus,
.contact-page .contact-form input:hover,
.contact-page .contact-form textarea:focus,
.contact-page .contact-form textarea:hover,
.contact-page .contact-form .form-control:focus {
  border-color: #FFC107;
  outline: none;
  box-shadow: none;
}

.map iframe {
  width: 100%;
  border: 0;
  height: 450px;
}

.news-details-page {
  padding-top: 60px;
  padding-bottom: 60px;
}
.news-details-page .news-left {
  background-color: #f2f2f2;
  border-radius: 10px;
}
.news-details-page .news-left .image {
  overflow: hidden;
  border-radius: 10px;
}
.news-details-page .news-left .image img {
  border-radius: 10px;
  transition: all 0.3s ease 0s;
}
.news-details-page .news-left .image:hover img {
  transform: scale(1.1);
}
.news-details-page .news-left .text {
  padding: 30px;
}
.news-details-page .news-left .text .dates {
  margin-bottom: 24px;
}
.news-details-page .news-left .text .dates ul {
  padding: 5px 20px;
  border-radius: 5px;
  display: inline-block;
  background-color: #FFC107;
  color: #ffffff;
}
.news-details-page .news-left .text .dates ul li {
  font-size: 14px;
  font-weight: 500;
  display: inline-block;
  position: relative;
}
.news-details-page .news-left .text .dates ul li::before {
  position: absolute;
  top: 50%;
  left: -18px;
  transform: translateY(-50%);
  width: 5px;
  height: 5px;
  background-color: #ffffff;
  border-radius: 50%;
  content: "";
}
.news-details-page .news-left .text .dates ul li:first-child::before {
  display: none;
}
.news-details-page .news-left .text .dates ul li + li {
  margin-left: 30px;
}
.news-details-page .news-left .text .details p {
  margin-bottom: 20px;
  text-align: justify;
}
.news-details-page .news-left .text blockquote {
  background-color: #ffffff;
  padding: 30px;
  border-radius: 10px;
  border-left: 3px solid #FFC107;
  position: relative;
  text-align: justify;
  border-bottom: 0;
}
.news-details-page .news-left .text blockquote strong {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
  margin-top: 20px;
  display: inline-block;
  font-style: italic;
}
.news-details-page .news-left .text blockquote::before {
  content: "\f10e";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  position: absolute;
  right: 22px;
  bottom: 10px;
  font-size: 90px;
  opacity: 0.03;
  line-height: 98px;
  color: #FFC107;
}
.news-details-page .news-left .text ul {
  padding-left: 14px;
}
.news-details-page .news-left .text ul li {
  line-height: 26px;
  font-size: 16px;
  font-weight: 400;
}
.news-details-page .news-left .text ol {
  padding-left: 17px;
}
.news-details-page .news-left .text ol li {
  line-height: 26px;
  font-size: 16px;
  font-weight: 400;
}
.news-details-page .news-right {
  position: sticky;
  top: 20px;
  bottom: 0;
}
.news-details-page .news-right .info-block {
  margin-bottom: 24px;
  border-radius: 10px;
  padding: 30px;
  background-color: #f2f2f2;
}
.news-details-page .news-right .info-block .news-title {
  font-size: 22px;
  font-weight: 600;
}
.news-details-page .news-right .info-block .search .input-groups {
  position: relative;
}
.news-details-page .news-right .info-block .search .input-groups input {
  width: 100%;
  height: 50px;
  border-radius: 3px;
  border: 0;
  background-color: #ffffff;
  padding: 0 40px 0 20px;
  border: 1px solid transparent;
}
.news-details-page .news-right .info-block .search .input-groups input:focus {
  border-color: #FFC107;
}
.news-details-page .news-right .info-block .search .input-groups button {
  position: absolute;
  top: 50%;
  right: 16px;
  transform: translateY(-50%);
  font-size: 18px;
  background-color: transparent;
  border: 0;
}
.news-details-page .news-right .info-block .small-news-item {
  margin-top: 24px;
}
.news-details-page .news-right .info-block .small-news-item .recent-news .image {
  margin-right: 14px;
  width: 100px;
  height: 70px;
}
.news-details-page .news-right .info-block .small-news-item .recent-news .image img {
  width: 100%;
}
.news-details-page .news-right .info-block .small-news-item .recent-news .text h5 {
  font-size: 15px;
  font-weight: 500;
  color: #1D272F;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  transition: all linear 0.2s;
}
.news-details-page .news-right .info-block .small-news-item .recent-news .text h5:hover {
  color: #FFC107;
}
.news-details-page .news-right .info-block .small-news-item .recent-news .text span {
  font-size: 13px;
  font-weight: 400;
  color: #1D272F;
  margin-top: 10px;
}

.sidebar-widget {
  background-color: #ffffff;
}

.total-filter .filter {
  margin-right: 5px;
  margin-bottom: 5px;
}
.total-filter .filter a {
  background-color: #1D272F;
  padding: 0 5px;
  color: #ffffff;
}
.total-filter .filter a i {
  font-size: 14px;
  padding-left: 5px;
}

.listing-top {
  font-family: "RobotoM";
}
.listing-top input {
  height: 35px;
  width: 65px;
}
.listing-top .nice-select {
  border: 1px solid #1D272F !important;
  line-height: 35px;
  height: 35px;
  border-radius: 3px;
  font-family: "RobotoR";
}
.listing-top .nice-select::after {
  width: 7px;
  height: 7px;
}
.listing-top .nice-select:active, .listing-top .nice-select.open, .listing-top .nice-select:focus {
  border: 1px solid #1D272F !important;
}
.listing-top .nice-select .option.selected {
  font-family: "RobotoB";
}

.product-item .product-img {
  height: 247px;
}
.product-item .product-info {
  background-color: #ffffff;
  height: 118px;
}

.search-form input {
  border: 1px solid #e9e9e9;
  padding: 11px 16px;
  border-radius: 5px 0 0 5px;
  width: 100%;
}
.search-form .submit-icon-btn-secondary {
  width: 48px;
  height: 48px;
  background-color: #FFC107;
  color: #ffffff;
  text-align: center;
  line-height: 48px;
  flex-shrink: 0;
  border-radius: 0 5px 5px 0;
  transition: all 0.3s ease-in-out;
  border: none;
}

.widget-nav li a {
  color: #5d6374;
}
.widget-nav li a .total-count {
  min-width: 32px;
  height: 32px;
  padding: 4px;
  border-radius: 5px;
  background-color: #fafafa;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease-in-out;
}

.title3 {
  cursor: pointer;
}
.title3 h3 {
  font-size: 16px;
  font-weight: 700;
}
.title3 i {
  transition: 0.3s ease-in-out;
}
.title3 .hr-line {
  height: 2px;
  background-color: #fff8f2;
  -webkit-transform: translateY(-10px);
  transform: translateY(-10px);
}
.title3 .hr-line::before {
  content: "";
  position: absolute;
  width: 30px;
  height: 2px;
  left: 0;
  top: 0;
  background-color: rgba(255, 124, 8, 0.8);
}

.collapsed i {
  rotate: 180deg;
}

.ui-slider-horizontal {
  height: 0.6em;
}

.ui-slider-horizontal {
  margin-bottom: 15px;
}

.ui-widget-header {
  background: #FFC107;
}

.ui-slider-handle.ui-corner-all.ui-state-default {
  border: 2px solid #FFC107 !important;
  background: #FFC107 !important;
  border-radius: 10px;
  top: -5px;
}

.ui-state-active {
  box-shadow: 0 0 5px 2px #1D272F;
}

.price-range-block {
  width: 100%;
  margin-top: 50px;
}
.price-range-block .price-filter-range {
  margin: 20px auto;
  width: 93%;
}

.price-range-search {
  width: 45%;
  background-color: #FFC107;
  border: 1px solid #FFC107;
  min-width: 40%;
  display: inline-block;
  height: 46px;
  border-radius: 5px;
  margin-bottom: 20px;
  font-size: 16px;
  color: #1D272F;
  transition: 0.5s ease;
}
.price-range-search:hover {
  background-color: #FFC107;
  color: #ffffff;
}

.price-range-field {
  width: 45%;
  min-width: 16%;
  background-color: #ffffff;
  border: 1px solid #FFC107;
  color: black;
  border-radius: 5px;
  height: 36px;
  padding: 5px;
}

.search-results-block {
  position: relative;
  display: block;
  clear: both;
}

.form-check-input[type=checkbox] {
  border-radius: 0.25em;
  margin-right: 10px;
}

.form-check-input:checked {
  background-color: #FFC107;
  border-color: #FFC107;
}

.check-rating ul li {
  list-style: none;
}

.check-rating ul li i {
  color: #999;
  font-size: 12px;
}

.check-rating ul li i.fill-color {
  color: #FFC107;
}

.sidebar-widget .total-count {
  min-width: 32px;
  height: 32px;
  padding: 4px;
  border-radius: 5px;
  background-color: #fafafa;
  text-align: center;
}

.widget-nav a {
  margin-top: 12px;
  color: #1D272F;
}

.form-check:hover .total-count,
.widget-nav li:hover .total-count,
.widget-nav a:hover .total-count {
  background-color: #6eb356;
  color: #fff;
}

.form-check,
.widget-nav li + li {
  margin-top: 12px;
}

.btn-outline {
  border: 1px solid #e4e4e4;
}

.btn-outline:hover {
  background-color: #6eb356;
  color: #fff;
  border-color: #6eb356;
}

.dropdown-container a,
.dropdown-btn {
  text-decoration: none;
  color: #818181;
  display: block;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}

.dropdown-container {
  display: none;
  padding-left: 10px;
  background-color: #fafafa;
}

.prd-info-container {
  background-color: #fff;
  padding: 24px;
  border-radius: 10px;
}

.product-details-page .product-details-bg {
  padding: 20px 0 50px 0;
  background-color: #f5f5f5;
}
.product-details-page .mini-side-image ul li {
  width: 70px;
  height: 70px;
  border: 1px solid #ccc;
  cursor: pointer;
}
.product-details-page .mini-side-image ul li img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.product-details-page .mini-side-image ul li.active {
  border-color: #FFC107;
}
.product-details-page .big-side-image {
  min-height: 500px;
  overflow: hidden;
  margin-bottom: 32px;
}
.product-details-page .big-side-image img {
  height: 100%;
  object-fit: contain;
}

#NZoomContainer,
#NZoomImg {
  height: auto !important;
}

.product-information-main .prd-right-details {
  position: relative;
}
.product-information-main .banner-widget {
  background-size: cover;
  border-radius: 6px;
}
.product-information-main .banner-widget .vertical-banner {
  padding: 40px 24px 155px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: top center;
}
.product-information-main .banner-widget .vertical-banner .hot-badge {
  padding: 6px 8px 6px 20px;
  background-color: #FFC107 !important;
}
.product-information-main .banner-widget .vertical-banner .hot-badge::before {
  content: "";
  position: absolute;
  left: -1px;
  top: 0;
  width: 12px;
  height: 100%;
  background-color: #fff;
  clip-path: polygon(0 0, 0% 100%, 100% 50%);
}
.product-information-main .banner-widget .vertical-banner .offer-title {
  font-family: "RobotoB";
  color: #FFC107 !important;
  margin-left: 15px;
  font-size: 32px;
}
.product-information-main .banner-widget .hotline .call-btn {
  color: #FFC107 !important;
  background-color: transparent;
}
.product-information-main .banner-widget .hotline .call-btn:hover {
  color: #ffffff !important;
}

.product-details-info .prd-title a {
  font-size: 24px;
  font-weight: 600;
  color: #000;
}
.product-details-info .prd-slug h3 {
  font-size: 20px;
  color: #000;
  padding: 6px 0 5px 0;
}
.product-details-info .prd-rating ul li {
  display: inline-block;
  font-size: 13px;
  color: #999;
  margin-right: 10px;
}
.product-details-info .prd-rating ul li span {
  color: #FFC107;
  font-size: 11px;
}
.product-details-info .prd-rating ul li span.no-rating {
  color: #888;
}
.product-details-info .unit span {
  color: #666;
  font-size: 14px;
  padding: 8px 0 20px 0;
  display: block;
}
.product-details-info .price {
  margin: 20px 0;
  font-family: "RobotoB";
}
.product-details-info .price p {
  font-size: 20px;
  font-weight: 600;
  color: #FFC107;
  margin-right: 10px;
}
.product-details-info .price .old-price p {
  font-size: 15px;
  font-weight: 500;
  color: #1D272F;
  text-decoration: line-through;
}
.product-details-info .description ul li i {
  color: #1D272F;
}
.product-details-info .product-radio-btn li {
  position: relative;
  display: inline-block;
}
.product-details-info .product-radio-btn li input {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
}
.product-details-info .product-radio-btn li input:checked ~ label {
  color: #1D272F;
  border-color: #FFC107;
}
.product-details-info .product-radio-btn li label {
  padding: 4px 16px;
  border: 1px solid #e9e9e9;
  border-radius: 4px;
  font-size: 14px;
  font-family: "RobotoB";
}
.product-details-info .stock-button p {
  padding: 0 15px;
  background-color: #FFC107;
  border-radius: 5px;
  margin: 0 0 0 20px;
  font-size: 14px;
  color: #1D272F;
}
.product-details-info .quantity {
  border-bottom: 1px solid #d2d2d2;
}
.product-details-info .quantity p {
  color: #000;
  padding-bottom: 10px;
}
.product-details-info .quantity .quantity-main button {
  border: none;
  color: #ffffff;
}
.product-details-info .quantity .quantity-main button::after {
  color: #ffffff;
}
.product-details-info .quantity .quantity-main .order-now .call-btn::after {
  color: #ffffff;
}
.product-details-info .quantity .quantity-main .order-now button {
  color: #ffffff !important;
}
.product-details-info .qnt-number ul {
  border-radius: 3px;
  border: 1px solid #ddd;
}
.product-details-info .qnt-number ul li {
  display: inline-block;
}
.product-details-info .qnt-number ul li.mid-number {
  width: 40px;
  text-align: center;
  font-size: 20px;
  line-height: 50px;
}
.product-details-info .qnt-number ul li i {
  width: 35px;
  height: 50px;
  line-height: 50px;
  background-color: #f5f5f5;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  font-size: 19px;
}
.product-details-info .categories a {
  font-size: 15px;
  color: #1D272F;
  background-color: #f2f2f2;
  margin-left: 3px;
  padding: 0 15px;
  border-radius: 5px;
  margin-bottom: 7px;
}
.product-details-info .categories a:hover {
  color: #FFC107;
  background-color: #FFC107;
}

.product-details-info .prd-rating ul li {
  color: #E55604;
  font-size: 11px;
}

.product-details-info .prd-rating ul li i.no-rating {
  color: #888;
}

.product-summery {
  width: 100%;
  background-color: #F4F4F4;
}
.product-summery .product-item .product-img {
  height: 256px;
}
.product-summery .product-info {
  height: 118px;
}
.product-summery .detail-descp {
  padding: 50px;
  background-color: #ffffff;
}
.product-summery .detail-descp .nav-pills button.nav-link {
  color: #1D272F;
  font-size: 16px;
  font-family: "RobotoB";
  border-radius: 0;
  transition: 0.5 ease;
}
.product-summery .detail-descp .nav-pills .nav-link.active,
.product-summery .detail-descp .nav-pills .show > .nav-link {
  color: #FFC107;
  background-color: transparent;
  border-bottom: 2px solid #FFC107;
}
.product-summery .summery-description .top-des {
  margin-bottom: 25px;
}
.product-summery .summery-description .img {
  width: 650px;
  height: 300px;
  margin: 0 auto;
}
.product-summery .summery-description .img img {
  height: 100%;
  object-fit: contain;
}
.product-summery .summery-description .summery-block-des {
  padding-bottom: 30px;
}
.product-summery .summery-description .summery-block-des h5 {
  font-family: "RobotoB";
  font-size: 18px;
  padding-bottom: 5px;
}
.product-summery .summery-description .summery-block-des h6 {
  font-family: "RobotoB";
  padding-bottom: 3px;
}
.product-summery .adn-info h3 {
  font-size: 24px;
  margin-bottom: 25px;
}
.product-summery .adn-info .table > :not(caption) > * > * {
  padding: 0.5rem 2rem;
}
.product-summery .adn-info table th {
  color: #666;
  background-color: #f5f5f5;
}
.product-summery .rating-box {
  width: 100%;
  border: 1px solid #eee;
  padding: 30px;
}
.product-summery .rating-box h3 {
  font-size: 50px;
  color: #e84506;
  line-height: 1;
  margin: 0 0 10px;
}
.product-summery .rating-box ul li {
  font-size: 13px;
  color: #FFC107;
  display: inline-block;
}
.product-summery .rating-box .product-rating p span {
  color: #222;
}
.product-summery .rating-box .bar-rating-main {
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid #eee;
}
.product-summery .rating-box .bar-rating h6 {
  font-size: 15px;
}
.product-summery .rating-box .bar-rating h5 {
  font-size: 15px;
}
.product-summery .rating-box .rating-bars {
  width: 75%;
}
.product-summery .rating-box .rating-percent {
  width: 45px;
  text-align: center;
}
.product-summery .add-review-box h3 {
  font-size: 18px;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.product-summery .add-review-box p {
  padding-bottom: 20px;
}
.product-summery .add-review-box sup {
  font-size: 24px;
  top: 5px;
}
.product-summery .add-review-box ul li {
  display: inline-block;
  margin-right: 10px;
  font-size: 15px;
}
.product-summery .add-review-box ul li i {
  color: #ccc;
  font-size: 12px;
}
.product-summery .add-review-box textarea {
  border-radius: 3px !important;
}
.product-summery .add-review-box input {
  height: 45px;
  border-radius: 3px !important;
}
.product-summery .add-review-box label {
  font-size: 15px;
}
.product-summery .add-review-box .form-check input {
  height: 16px;
}
.product-summery .add-review-box .form-check label {
  font-size: 14px;
}
.product-summery .add-review-box .button button {
  background-color: #FFC107;
  font-family: "RobotoB";
  color: #ffffff;
  font-size: 15px;
  padding: 10px 30px;
}
.product-summery .review-post {
  padding-top: 60px;
  padding-bottom: 60px;
}
.product-summery .review-post h3 {
  font-size: 18px;
  color: #000;
  margin: 0 0 50px;
}
.product-summery .review-post .image {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden;
}
.product-summery .review-post .image img {
  height: 100%;
}
.product-summery .review-post .text {
  margin-left: 50px;
}
.product-summery .review-post .text h6 {
  font-size: 16px;
}
.product-summery .review-post .text h6 span {
  color: #999;
  font-size: 14px;
}
.product-summery .review-post .text ul li span {
  color: #FFC107;
  font-size: 12px;
}
.product-summery .review-post .text ul li span.gray {
  color: #999;
}
.product-summery .review-post .text p {
  padding-top: 15px;
}
.product-summery .vendor-info {
  background-color: #f1f1f1;
  position: relative;
}
.product-summery .vendor-image {
  width: 100%;
  height: 270px;
}
.product-summery .vendor-image img {
  height: 100%;
}
.product-summery .vendor-text {
  padding: 30px 35px 15px 25px;
}
.product-summery .vendor-text .mini-img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
}
.product-summery .vendor-text .mini-img img {
  height: 100%;
}
.product-summery .vendor-text h3 {
  font-size: 24px;
  margin-top: 30px;
  margin-bottom: 5px;
}
.product-summery .vendor-text ul li {
  display: inline-block;
  margin-right: 10px;
}
.product-summery .vendor-text ul li .point-number {
  color: #26901b;
}
.product-summery .vendor-text ul .star span {
  color: #FFC107;
  font-size: 12px;
}
.product-summery .vendor-text ul .star span.gray {
  color: #999;
}
.product-summery .vendor-text p {
  color: #222;
  margin-top: 3px;
}
.product-summery .vendor-text .social {
  position: absolute;
  top: 30px;
  right: 35px;
}
.product-summery .vendor-text .social a i {
  width: 40px;
  height: 40px;
  border-radius: 4px;
  text-align: center;
  line-height: 40px;
  display: inline-block;
  color: #fff;
}
.product-summery .vendor-text .social a i.bi-facebook {
  background-color: #1b4e9b;
}
.product-summery .vendor-text .social a i.bi-twitter {
  background-color: #00aeef;
}
.product-summery .vendor-text .social a i.bi-linkedin {
  background-color: #007bb5;
}
.product-summery .vendor-text .social a i.bi-instagram {
  background-color: #D62977;
}
.product-summery .vendor-text .store-info {
  position: absolute;
  bottom: 30px;
  right: 35px;
}
.product-summery .vendor-text .store-info p {
  color: #999;
}
.product-summery .vendor-text .store-info p span {
  color: #222;
}
.product-summery .vendor-text .store-info ul li {
  color: #26901b;
  font-size: 15px;
  position: relative;
  padding-left: 25px;
  margin-top: 5px;
}
.product-summery .vendor-text .store-info ul li::after {
  width: 9px;
  height: 9px;
  background-color: #26901b;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  border-radius: 50%;
  content: "";
}
.product-summery #v-pills-tab {
  margin: 0 !important;
}

/*# sourceMappingURL=style.css.map */
