@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&family=Poppins:wght@300;400;500;600;700&display=swap');

@import "../variable/variable";
@import "../mixin/font";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Poppins', sans-serif;
}

a {
  display: inline-block;
  text-decoration: none;
}

span {
  display: inline-block;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

body {
  overflow-x: hidden;
  @include font(16px, 400);
  color: $black;
  font-family: 'Poppins', sans-serif;
}

.common-btn {
  a {
    background-color: $themeColor;
    @include font(16px, 500);
    text-transform: uppercase;
    padding: 14px 30px;
    color: $white;
    transition: all linear .2s;
    border: 2px solid transparent;

    &:hover {
      background-color: $black;
      border-color: $themeColor;
    }
  }
}

.read-more {
  font-size: 15px;
  font-weight: 500;
  background-color: $themeColor;
  padding: 5px 15px;
  color: $white;
  position: relative;
  z-index: 1;

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 0%;
    background-color: $black;
    content: "";
    z-index: -9;
    transition: all linear .2s;
  }

  &:hover {
    color: $white;

    &::before {
      width: 100%;
      height: 100%;
    }
  }
}


.rm-lg {
  padding: 10px 24px;
}

.common-title {
  h5 {
    @include font(16px, 400);
    padding-bottom: 8px;
  }

  h3 {
    @include font(28px, 600);
    text-transform: uppercase;
  }
}

.title-snd {
  padding-left: 24px;
  padding-bottom: 43px;
  position: relative;

  &::before {
    width: 3px;
    height: 53px;
    background-color: $black;
    position: absolute;
    left: 0;
    top: 5px;
    content: "";
  }

  h5 {
    @include font(18px, 400);
    padding-bottom: 8px;
  }

  h3 {
    @include font(28px, 700);
    text-transform: uppercase;
  }
}

.remove {
  padding: 3px 10px;
  // background-color: rgba(255, 0, 0, 0.1764705882);
  color: #ff3b3b;
  border-radius: 6px;
}

button {
  border: none;
}

.nice-select {
  font-size: 16px;
  height: 50px;
  line-height: 50px;
  width: 100%;
  background-color: $white;

  &::after {
    border-bottom: 2px solid $themeColor;
    border-right: 2px solid $themeColor;
    height: 10px;
    width: 10px;
    top: 42%;
    right: 14px;
  }

  .list {
    min-width: 100%;
  }

  &:active,
  &.open,
  &:focus {
    border: none !important;
  }
}


.cart-icon {
  position: fixed;
  top: 30%;
  right: 1%;
  width: 40px;
  height: 40px;

  a {
    img {
      // padding: 20px;
      width: 100%;
      height: 100%;
    }

    .num {
      border-radius: 13px;
      background-color: red;
      width: 20px;
      height: 20px;
      text-align: center;
      color: white;
      line-height: 20px;
      @include font(12px, 600);
    }
  }
}